@using HiSUP.Models
@model Faculty

@{
    ViewData["Title"] = "Faculty Dashboard";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3>Welcome, Dr. @Model.Name!</h3>
                </div>
                <div class="card-body">
                    <h5>Faculty Information</h5>
                    <table class="table">
                        <tr><th>Faculty ID:</th><td>@Model.FacultyID</td></tr>
                        <tr><th>Email:</th><td>@Model.Email</td></tr>
                        <tr><th>Designation:</th><td>@Model.Designation</td></tr>
                    </table>

                    <hr />
                    <h5>Quick Actions</h5>
                    <div class="mt-3">
                        <a href="/Faculty/MarkAttendance?facultyId=500&sectionId=1" class="btn btn-warning m-2">Mark Attendance</a>
                        <a href="/Faculty/EnterGrades?facultyId=500&sectionId=1" class="btn btn-success m-2">Enter Grades</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>